@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

div.picture-card {
  perspective: 80em;
}

div.picture-inner {
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

div.picture-front , div.picture-back  {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari */
}

.picture-back {
  background-color: #bd876d;
  transform: rotateY(180deg);
}

.translucent {
  --tw-bg-opacity: .5 !important;
  backdrop-filter: blur(15px);
}

.dark .dark\:darkmode-bg {
  @apply bg-gray-900;
}

.dark .dark\:darkmode-picture {
  @apply bg-gray-600;
} 

.min-full-screen {
  min-height: 100vh;
}

.typewriter {
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #bd876d; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  -webkit-animation: 
    typing 2s steps(45, end),
    blink-caret .5s step-end infinite;
  animation: 
    typing 2s steps(45, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@-webkit-keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:  #bd876d }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:  #bd876d }
}
