@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

div.picture-card {
  perspective: 80em;
}

div.picture-inner {
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

div.picture-front , div.picture-back  {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari */
}

.picture-back {
  background-color: #bd876d;
  transform: rotateY(180deg);
}

.translucent {
  --tw-bg-opacity: .5 !important;
  backdrop-filter: blur(15px);
}

.dark .dark\:darkmode-bg {
  @apply bg-gray-900;
}

.dark .dark\:darkmode-picture {
  @apply bg-gray-600;
} 

.min-full-screen {
  min-height: 100vh;
}

.svg-block{
  display: block !important;
}






.typing {
  position: relative;	
  padding: 2px;
}
.typing::after {
  content: "|";
  position: absolute;
  right: 0;
  width: 100%;
  background: #fff;
  color: #bd876d;
  animation: typing 3s steps(10) forwards,
    caret 1s infinite;
}

@keyframes typing {
	to { width: 0 }
}

@keyframes caret {
	50% { color: transparent }
}

.p-style{
  font-size: 2.25em;
  line-height: 3em;
  font-family: 'Inconsolata', Consolas, monospace;
}
